SERVER_PORT=3000

INDEXLY_API_KEY=''
INDEXLY_API_URL=""
INDEXLY_SITE_ID=''

BLOG_BRAND_NAME=
BLOG_BRAND_DESCRIPTION=""
BLOG_META_DESCRIPTION=
BLOG_SITE_DOMAIN=
BLOG_LOGO_URL=
BLOG_WEBSITE_URL=
BLOG_SIGNUP_URL=
BLOG_CTA_HEADING=
BLOG_CTA_SUBTITLE=
BLOG_DEMO_URL=